.data-figure-panel {
  width:42%;
  display:inline-block;
  padding:1%3%5%3%;
  float:right;
  font-size:13px;
}
.data-label {
  width:100%;
  padding-top:5px;
}
.data-figure {
  float:right;
  font-weight:bold;
}
.details-button {
  background-color:#005F8D;
  color:white;
  border:none;
  border-radius:6px;
  width:70px;
  height:25px
}
.reposition-button {
  background-color:#007DBA;
  color:white;
  border:none;
  border-radius:6px;
  width:90px;
  height:30px;
}
.total-label {
  width:55%;
  float:right;
  padding-top:10px;
  font-size:14px;
  font-weight:bold;
}

