h3 {
  color: #A9A9A9;
  letter-spacing: 0.075em;
  margin-top: 5px !important;
}
.button-size {
  font-size: 20px;
  float: right;
  color: grey;
  border: 1px solid #D3D3D3;
}
.button-active {
  color: whitesmoke;
  background-color: #D3D3D3;
}
.button-icon {
  position: relative;
  top: 2px;
  font-size: 22px;
}
.dots {
  padding-left: 10px;
  font-size: 20px;
  float: right;
  color: grey;
  line-height: 30px;
}
.capacity-map-header {
  padding-bottom: 30px;
  border: 1px solid #dee2e6;
  -moz-border-radius: 7px !important;
  -webkit-border-radius: 7px !important;
  background-color: white;

}
.filter-icon {
  font-size: 24px;
  float: left;
  color: grey;
  line-height: 35px;
}
.date-icon {
  color: grey;
  position: relative;
  top: 3px;
}
.date-text {
  font-weight: bold;
  letter-spacing: 1px;
}
.button-holder {
  width: 16%;
  position: relative;
  float: right;
  padding: 10px;
}
.dates {
  width: 16%;
  position: relative;
  padding: 10px;
  top: 15px;
}
.header-content {
  height:30px;
  margin-bottom: 10px;
}
.map-container {
  height: 80vh;
  width: 95%;
  margin-top: 20px;
  margin-left: 60px;
}

.map-section {
  padding: 10px;
  background-color: white;
}
.map-detail {
  height: 300px !important;
}

.breadcrumb-text {
  font-size: 14px;
  color: grey;
}

.filters-panel {
  background-color: white;
}

.arrow {
  width: 120px;
}

.line {
  margin-top: 14px;
  width: 90px;
  background: blue;
  height: 10px;
  float: left;
}

.point {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid blue;
  float: right;
}
.chart-detail-view {
  float: right;
}
::ng-deep .p-sidebar-right{
  width: 25rem !important;
}
.reposition-button {
  background: white;
  color: grey;
  float: right;
  border: none;
  font-size: 1.75em;
}
.reposition-submit {
  background-color:#007DBA;
  color:white;
  border:none;
  border-radius:6px;
  width:90px;
  height:30px;
  float: right;
  margin: 20px;
}
.reposition-title {
  position: relative;
  font-size: 24px;
  font-weight: bolder;
  height:80px;
  margin:15px;
  letter-spacing: 2.5px;
}
.p-col-6 {
  width: 50%;
  display: inline-block;
}
.reposition-content {
  height: 100vh;
  width: 100%;
  background: white !important;
  position: relative;
  top: 0;
}
.reposition-item {
  height:60px;
  width:100%;
  background: whitesmoke;
  border-radius: 7px;
  margin-bottom:8px;
  position: relative;
  left: 2%;
}
.reposition-item-selected {
  height: 60px;
  width: 96%;
  background: lightgray;
  border-radius: 7px;
  margin-bottom: 10px;
  margin-top: 30px;
  position: relative;
  left: 2%;
}



