h3 {
  color: #A9A9A9;
  letter-spacing: 0.075em;
  margin-top: 5px !important;
}
.sidenav {
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: grey;
  overflow-x: hidden;
  padding-top: 20px;
}
.button-size {
  font-size: 20px;
  float: right;
  color: grey;
  line-height: 16px;
}
.dots {
  padding-left: 10px;
  font-size: 20px;
  float: right;
  color: grey;
  line-height: 30px;
}
.capacity-map-header {
  padding-bottom: 30px;
  border: 1px solid #dee2e6;
  -moz-border-radius: 7px !important;
  -webkit-border-radius: 7px !important;
  background-color: white;

}
.filter-icon {
  font-size: 24px;
  float: left;
  color: grey;
  line-height: 35px;
}
.date-icon {
  color: grey;
  position: relative;
  top: 3px;
}
.date-text {
  font-weight: bold;
  letter-spacing: 1px;
}
.button-holder {
  width: 16%;
  position: relative;
  float: right;
  padding: 10px;
}
.dates {
  width: 16%;
  position: relative;
  padding: 10px;
  top: 15px;
}
.header-content {
  height:30px;
  margin-bottom: 10px;
}
.map-container {
  height: 80vh;
  width: 90%;
  margin-top: 20px;
  margin-left: 60px;
}
.map-section {
  padding: 10px;
  background-color: white;
}
.breadcrumb-text {
  font-size: 14px;
  color: grey;
}
.one {
  background-color: red;
  display: block;
  z-index: 9000;
}

.two {
  background-color: green;
}


