h3 {
  color: #A9A9A9;
  letter-spacing: 0.075em;
  margin-top: 5px !important;
}
.app-header {
  position: relative;
  width: 110%;
  left: -10px;
  bottom: 10px;
  height: 50px;
  background-color: #007DBA;
  color: white;
}
.app-title {
  letter-spacing: 0.08em;
  font-size: 22px;
  position: relative;
  top: 10px;
  left: 50px;
}
.reposition-total {
  position: relative;
  left: 50%;
}
.button-size {
  font-size: 20px;
  float: right;
  color: whitesmoke;
  background-color: dodgerblue;
  border: 1px solid #007DBA;
}
.button-right {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.button-left {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.button-active {
  color: whitesmoke;
  background-color: #007DBA;
}
.button-icon {
  position: relative;
  top: 2px;
  font-size: 22px;
}
.dots {
  padding-left: 10px;
  font-size: 20px;
  float: right;
  color: grey;
  line-height: 30px;
}
.capacity-map-header {
  padding-bottom: 30px;
  border: 1px solid #dee2e6;
  -moz-border-radius: 7px !important;
  -webkit-border-radius: 7px !important;
  background-color: white;

}
.filter-icon {
  position: relative;
  font-size: 27px;
  float: left;
  left: 30px;
  right: 10px;
  color: dodgerblue;
  line-height: 35px;
}
.date-icon {
  color: grey;
  position: relative;
  top: 3px;
}
.date-text {
  font-weight: bold;
  letter-spacing: 1px;
}
.button-holder {
  width: 16%;
  position: relative;
  float: right;
  padding: 10px;
}
.dates {
  width: 16%;
  position: relative;
  padding: 10px;
  top: 15px;
}
.header-content {
  height:30px;
  margin-bottom: 10px;
}
.map-container {
  height: 80vh;
  width: 95%;
  margin-left: 40px;
}

.map-section {
  padding: 10px;
  background-color: white;
}
.detail-section {
  background: whitesmoke;
  margin-top: 1%;
}
.map-detail {
  height: 300px !important;
}

.breadcrumb-text {
  font-size: 14px;
  color: grey;
}

.filters-panel {
  background-color: white;
}

.arrow {
  width: 120px;
}

.line {
  margin-top: 14px;
  width: 90px;
  background: blue;
  height: 10px;
  float: left;
}

.point {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid blue;
  float: right;
}
.chart-detail-view {
  float: right;
}
::ng-deep .p-sidebar-right{
  width: 25rem !important;
}
.reposition-button {
  background: white;
  color: grey;
  float: right;
  border: none;
  font-size: 1.75em;
}
.reposition-submit {
  background-color:#007DBA;
  color:white;
  border:none;
  border-radius:6px;
  width:90px;
  height:30px;
  float: right;
  margin: 20px;
}
.reposition-title {
  position: relative;
  font-size: 24px;
  font-weight: bolder;
  height:80px;
  margin:15px;
  letter-spacing: 2.5px;
}
.p-col-6 {
  width: 50%;
  display: inline-block;
}
.reposition-content {
  height: 100vh;
  width: 100%;
  background: white !important;
  position: relative;
  top: 0;
}
.reposition-item {
  height: 70px;
  width: 95%;
  background: whitesmoke;
  border-radius: 7px;
  margin-bottom: 8px;
  position: relative;
  left: 5%;
}
.reposition-item-location {
  font-size: 12px;
  font-weight: bold;
  color: grey;
  margin: 10px 0 0 10px;
  padding: 5px 0 0 5px;
}
.resposition-item-data {
  width: 14%;
  display: inline-block;
  margin-left: 10px;
}
.resposition-item-datapoint {;
  font-size: 15px;
  font-weight: bold;
  color: black;
  padding-left: 5px;
}
.resposition-item-data-label {
  font-size: 10px;
  font-weight: bold;
  color: grey;
  padding-left: 5px;
}
.resposition-input-container {
  position: relative;
  bottom: 10%;
  width: 14%;
  height: 100%;
  display: inline-block;
  margin-left: 40px;
  padding: 10px 10px 10px 10px;
}
 .resposition-input-container-selected {
   left: 17%;
 }
.resposition-input {
  width: 80%;
  height: 30%;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
}
.reposition-item-selected {
  height: 70px;
  width: 91%;
  background: lightgray;
  border-radius: 7px;
  margin-bottom: 10px;
  margin-top: 30px;
  position: relative;
  left: 5%;
}
.detail-close {
  position: relative;
  bottom: 10px;
}



